#bodyindex a:link      {color: white}
#bodyindex a:visited   {color: rgb(255, 255, 255);}
#bodyindex a:hover     {background-color: rgb(0, 113, 128);}
a:hover {background-color:#00bfff;}

a {font-size: 22px;}

h1 {
  font-family: "Audiowide", sans-serif;
  font-size: 60px;
  text-align: center;
}
h3 {
  font-size: 45px;
}

h4 {
  text-align: left;
  position: fixed;
  bottom: -25px;
  left: 5px;
}

#bodyinfo {
  background-image: url(images/Info.avif);
  background-size: cover; 
  background-position: center;
  background-color: rgba(0, 0, 0, 0.9);
}

#paginainfo {
  position: fixed;
  bottom: 5px;
  right: 15px;
}

.statoNonIndicato {
  position: fixed; 
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 60px;
  font-weight: bold;
  color: #8e8e8ecb;
}
   
.serverChiusi {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #9c4900cb;
}
.serverBassaAffluenza {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #0020f3f3;
}
.serverAltaAffluenza {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #ffae00;
}
.serverOperativi {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #01fc0acb;
}
.serverProblemi {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #fcef01;
}
.serverProblemiGravi {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #fc7a01;
}
.serverDownParziale {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #fc7a01;
}
.serverDown {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #fc0101;
}
.serverTuttiDown {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #c00d0d;
}
.serverDistrutti {
  position: fixed;
  top: 20%;
  left: 45%;
  transform: translate(-43%, -43%);
  font-size: 50px;
  font-weight: bold;
  color: #000000;
}

#oizzo, #mailcontatti {
  color: white;
  font-size: 70px;
  text-decoration-color: purple;
}

#informazioninfo {
  color: white;
}

#creazionesito {
  color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 110px;
}

#indietroinfo {
  color: white;
  text-decoration-color: purple;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
  font-size: 40px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.section {
  width: 25%;
  margin-bottom: 20px;
  border-radius: 15px; /* Angoli arrotondati */
  padding: 20px; /* Spaziatura interna */
  background-color: rgba(0, 0, 0, 0.3); /* Sfondo opaco (nero con trasparenza) */
  text-align: center; /* Testo centrato orizzontalmente */
  display: flex;
  flex-direction: column;
  justify-content: start; /* Testo centrato verticalmente */
  align-items: center; /* Centra gli elementi al centro */
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.7), 
              0 0 30px rgba(255, 0, 0, 0.5); /* Inizio dell'animazione */
  animation: glowAnimation 5s infinite alternate; /* Applica l'animazione */
  
  border: 4px solid transparent; /* Bordo iniziale trasparente */
  background-clip: padding-box; /* Impedisce che il colore del bordo influenzi il contenuto */
}

#bodyindex::after {
  content: "";
  background-image: url(images/sfondo_index.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.8;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: fixed;
  z-index: -1; 
}

#titolo {
  color: yellow;
  word-spacing: 25px;
}

#sottotitoli {
  color: rgb(47, 255, 255);
}

body {
  line-height: 1.8;
}

#release {
  color: yellow;
  left: 15px;
  bottom: -10px;
  position: fixed;
}

#immagine-logo {
  display: block;
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 50px;
}

#testo {
  position: fixed;
  top: 23%;
  left: 45%;
  transform: translate(-45%, -45%);
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

/* Layout Tablet e Desktop */
@media (min-width: 768px) {
  .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; /* Spazio uniforme tra le colonne */
  }

  .section {
      width: calc(45% - 1em); /* Due colonne con margini */
      margin-bottom: 1em; /* Spazio verticale tra le righe */
  }
}

/* Layout Mobile */
@media (max-width: 767px) {
  .container {
      display: flex;
      flex-direction: column; /* Colonne impilate */
      padding: 1em;
  }

  .section {
      width: 100%; /* Sezione a tutta larghezza */
      margin-bottom: 1.5em; /* Spazio tra le sezioni */
  }
}

/*-------------------------------------------------------------------*/

/* Layout Desktop e Tablet */
@media (min-width: 768px) {
    body {
        font-size: 15px;
        padding: 0.4em;
        text-align: left;
    }

    select, input, button {
        font-size: 0.7em;
        margin: 0.1em 0;
    }

    #immagine-logo {
        max-width: 50%; /* Mantieni l'immagine proporzionata */
        height: auto;
        margin-top: 15em;

        #testo {
          margin-top: 50px;
        }
    }
}

/* Layout Mobile */
@media (max-width: 767px) {
    body {
        font-size: 10px;
        padding: 0.2em;
        text-align: left; /* Centra il contenuto */
    }

    label {
        display: block;
        margin-bottom: 0.1em;
    }

    select, input, button {
        width: 50%; /* Larghezza piena per dispositivi mobili */
        font-size: 0.7em;
        margin: 0.1em 0;
    }

    #immagine-logo {
      max-width: 50%; /* Mantieni l'immagine proporzionata */
      height: auto;
      margin-top: 15em;

      #testo {
        height: 30px;
        margin-top: 50px;
        font-size: 15px;
      }
    }

    a {
        display: block;
        margin-top: 0.5em;
        font-size: 1em;
        text-align: left;
    }
}

/* Stile del pulsante */
#glowButton {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 1em 2em;
  border: none;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Sfondo chiaro */
  cursor: pointer;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.7), 
              0 0 30px rgba(255, 0, 0, 0.5); /* Inizio dell'animazione */
  animation: glowAnimation 5s infinite alternate; /* Applica l'animazione */
  transition: transform 0.3s ease; /* Effetto hover fluido */
  text-decoration: none;
  color: black;
}

/* Link all'interno del pulsante */
#glowButton a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}


/* Effetto hover sul pulsante */
#glowButton:hover {
  transform: scale(1.1); /* Leggera espansione */
}



/* Animazione glow */
@keyframes glowAnimation {
  0% {
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.7),    /* Rosso */
                0 0 30px rgba(255, 0, 0, 0.5);
  }
  20% {
    box-shadow: 0 0 15px rgba(255, 165, 0, 0.7),  /* Arancione */
                0 0 30px rgba(255, 165, 0, 0.5);
  }
  40% {
    box-shadow: 0 0 15px rgba(255, 255, 0, 0.8),  /* Giallo */
                0 0 30px rgba(255, 255, 0, 0.6);
  }
  60% {
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.7),    /* Verde */
                0 0 30px rgba(0, 255, 0, 0.5);
  }
  80% {
    box-shadow: 0 0 15px rgba(0, 0, 255, 0.7),    /* Blu */
                0 0 30px rgba(0, 0, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 15px rgba(128, 0, 128, 0.7),  /* Viola */
                0 0 30px rgba(128, 0, 128, 0.5);
  }
}

/* --------------------------------------------------------------------------------- */

.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Centra la pagina */
  height: 90vh; /* Altezza della pagina */
  
}

.section2 {
  width: 20%;
  margin-bottom: 20px;
  border: 2px solid yellow; /* Bordo colorato */
  border-radius: 15px; /* Angoli arrotondati */
  padding: 20px; /* Spaziatura interna */
  background-color: rgba(255, 255, 255, 0.7); /* Sfondo opaco (nero con trasparenza) */
  text-align: center; /* Testo centrato orizzontalmente */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Testo centrato verticalmente */
}

#copyright {
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: -5px;
  font-size: 20px;

}

/*----------------------------- Pagina legenda -----------------------------*/

#bodylegenda {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff; /* Cambia il colore dello sfondo se necessario */
}

.center-content {
  text-align: left; /* Allinea il testo al centro */
  justify-content: center;
  align-items: center;
  font-size: 1.6rem; /* Regola la dimensione del testo */
  line-height: 1.8;
  max-width: 100%; /* Limita la larghezza del contenuto */
}

/* Pulsante successivo e precedente */
#nextPageButton, #previousPageButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: #4CAF50; /* Colore verde per le frecce */
  font-size: 48px; /* Aumenta la dimensione delle icone */
  cursor: pointer;
  transition: color 0.3s ease;
  text-decoration: none;
}

#nextPageButton svg, #previousPageButton svg {
  width: 48px; /* Aumenta la dimensione dell'icona */
  height: 48px; /* Aumenta la dimensione dell'icona */
  transition: transform 0.3s ease;
}

#nextPageButton:hover svg, #previousPageButton:hover svg {
  transform: translateX(5px); /* L'icona si sposterà verso destra quando il mouse è sopra */
}


/* Centra i pulsanti a sinistra e a destra */
#nextPageButton {
  right: 10px; /* Posiziona il pulsante a destra */
}

#previousPageButton {
  left: 10px; /* Posiziona il pulsante a sinistra */
}